@charset "UTF-8";
/*------------Colores primarios----------*/
/*------------Colores Secundarios----------*/
/*------------Letras (Estilo, tamaño, color)----------*/
.cont {
  flex: 1;
  margin: 1em;
  padding: 1.5em;
}
.cont__header {
  display: flex;
  flex-direction: column;
}
.cont__header__usuario {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  padding: 1em;
  border-radius: 15px;
}
.cont__header__usuario__datos {
  display: flex;
  gap: 0.5em;
  align-items: end;
}
.cont__header__usuario__datos__img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.cont__header__usuario__datos__nombre {
  font-size: large;
  margin: 0;
  padding: 0;
}
.cont__header__usuario__datos__descrip {
  display: none;
}
.cont__header__menu__listado {
  display: flex;
  gap: 2em;
  padding: 0;
  list-style: none;
}
.cont__header__menu__listado--select {
  font-weight: bold;
  border-bottom: 0.1em solid #0c7489;
}
.cont__header__menu__listado__enlace {
  border: none;
  background-color: transparent;
  box-shadow: none;
  font-size: large;
}
.cont__header__menu__listado__enlace:hover {
  border-bottom: 0.15em solid #0c7489;
}
.cont__header__menu__listado a:visited {
  color: #000000;
}
.cont__anuncios {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
}
.cont__anuncios__article {
  text-align: center;
  padding-top: 1em;
}
.cont__anuncios__article__img {
  height: 105px;
  width: 105px;
}
.cont__anuncios__article__txt {
  padding-bottom: 0.5em;
  font-size: large;
  font-weight: bold;
}
.cont__anuncios__article__enlace {
  padding: 0.8em;
  background-color: #0c7489;
  border-radius: 10px;
  font-size: large;
  color: #fffcfb;
}
.cont__anuncios__article__enlace:hover {
  cursor: pointer;
  background-color: #119da4;
}
.cont__anuncios .agregar {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #948b89;
  border: #948b89 0.2em dashed;
  margin: 0;
  padding: 0;
  height: 80%;
}
.cont__anuncios .agregar__texto {
  font-size: x-large;
  margin: 0;
}
.cont__anuncios__anuncio {
  width: 100%;
  border: none;
  height: 100%;
  z-index: 1;
  padding: 0;
  background-color: #d9d9d9;
}
.cont__anuncios__anuncio__enlace {
  color: #fffcfb;
}
.cont__anuncios__anuncio__header {
  display: flex;
  flex-direction: column;
  background-color: #0c7489;
  height: 105px;
  width: 100%;
}
.cont__anuncios__anuncio__header__titulo {
  text-align: center;
  font-size: x-large;
  color: #fffcfb;
  margin: 0.5em 0 0.5em 0;
}
.cont__anuncios__anuncio__header__datos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
  color: #fffcfb;
}
.cont__anuncios__anuncio__header__datos__menu {
  display: inline-block;
  position: relative;
  padding-right: 1em;
}
.cont__anuncios__anuncio__header__datos__menu__contenido {
  display: none;
  position: absolute;
  overflow: auto;
  width: 70px;
  right: 0;
  z-index: 6;
  padding: 0.5em;
  margin: 0;
  font-size: small;
  background-color: #fffcfb;
}
.cont__anuncios__anuncio__header__datos__menu__contenido__enlace {
  display: block;
  color: #0c7489;
  padding: 0.5em;
  text-decoration: none;
  margin: 0;
}
.cont__anuncios__anuncio__header__datos__menu__contenido__enlace input {
  display: none;
}
.cont__anuncios__anuncio__header__datos__menu__contenido__enlace:hover {
  color: #fffcfb;
  background-color: #0c7489;
  cursor: pointer;
}
.cont__anuncios__anuncio__header__datos__menu:hover .cont__anuncios__anuncio__header__datos__menu__contenido {
  display: block;
}
.cont__anuncios__anuncio__header__datos__usuario {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.cont__anuncios__anuncio__header__datos__usuario__img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.cont__anuncios__anuncio__contenido {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  text-align: start;
  padding: 0.5em 0.5em 0 0.5em;
  color: #000000;
}
.cont__anuncios__anuncio__contenido__article {
  display: flex;
  flex-direction: column;
}
.cont__anuncios__anuncio__contenido__article__titulo {
  margin: 0;
}
.cont__anuncios__anuncio__contenido__article__descrip {
  margin: 0;
  max-width: 224px;
  max-height: 46px;
  min-width: 224px;
  min-height: 46px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: small;
}
.cont__anuncios__anuncio:hover {
  cursor: pointer;
  box-shadow: 0.1em 0.1em 10px #948b89;
}

@media (min-width: 700px) {
  .cont {
    height: 100vh;
    padding: 1.5em 2em 1.5em 2em;
  }
  .cont__header__usuario__datos__img {
    width: 85px;
    height: 85px;
  }
  .cont__header__usuario__datos__descrip {
    display: block;
    max-height: 80px;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .cont__header__menu__listado {
    font-size: larger;
  }
  .cont__anuncios {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    gap: 1.5em;
  }
  .cont__anuncios .agregar {
    height: 100%;
    width: 300px;
  }
  .cont__anuncios__anuncio {
    width: 300px;
    height: 80%;
    background-color: #d9d9d9;
  }
  .cont__anuncios__anuncio__header__datos__menu__contenido {
    font-size: medium;
    width: 115px;
  }
  .cont__anuncios__anuncio__contenido {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0.5em 0.5em 0 0.5em;
  }
  .cont__anuncios__anuncio__contenido__article {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: large;
  }
  .cont__anuncios__anuncio__contenido__article__descrip {
    max-width: 280px;
    max-height: 50px;
    min-width: 280px;
    min-height: 50px;
    font-size: medium;
  }
}
@media (min-width: 1024px) {
  .cont__header__usuario__datos__img {
    width: 100px;
    height: 100px;
  }
  .cont__header__usuario__datos__descrip {
    max-height: 80px;
    max-width: 400px;
    min-height: 80px;
    min-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .cont__header__menu__listado {
    font-size: x-large;
  }
  .cont__anuncios {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 65%;
    gap: 1em;
  }
  .cont__anuncios .agregar {
    height: 95%;
    width: 100%;
  }
  .cont__anuncios__anuncio {
    width: 100%;
    height: 65%;
  }
  .cont__anuncios__anuncio__contenido {
    padding: 0;
    padding-top: 1em;
    width: 100%;
    text-align: left;
  }
  .cont__anuncios__anuncio__contenido__article__descrip {
    align-items: center;
    max-height: 80px;
    max-width: 17em;
    min-height: 80px;
    min-width: 17em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media (min-width: 1240px) {
  .cont {
    padding: 3.5em;
  }
  .cont__header__usuario__datos__descrip {
    max-height: 80px;
    max-width: 450px;
  }
  .cont__anuncios {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 395px;
    gap: 3.5em;
  }
  .cont__anuncios .agregar {
    height: 100%;
    width: 100%;
  }
  .cont__anuncios__anuncio {
    width: 100%;
    height: 100%;
  }
  .cont__anuncios__anuncio__contenido__article__descrip {
    max-height: 85px;
    max-width: 300px;
    min-height: 85px;
    min-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/*# sourceMappingURL=anuncios.css.map */
