@charset "UTF-8";
/*------------Colores primarios----------*/
/*------------Colores Secundarios----------*/
/*------------Letras (Estilo, tamaño, color)----------*/
.header {
  display: flex;
  flex-direction: row;
  background-color: #0c7489;
  justify-content: space-between;
  align-items: center;
}
.header__picture {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
.header__picture__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  padding: 0.3em;
}
.header__options {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.header__options__enlace {
  margin-right: 0.5em;
  color: #fffcfb;
  font-size: large;
}
.header__options__enlace--bordeBlancos {
  display: none;
}
.header__options__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}
.header__options__user__img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
.header__options__user__menu {
  display: inline-block;
  position: relative;
  margin-right: 9px;
}
.header__options__user__menu__contenido {
  display: none;
  position: absolute;
  overflow: auto;
  width: 200px;
  right: 0;
  z-index: 3;
  background-color: #fffcfb;
}
.header__options__user__menu__contenido__cabecera {
  border-bottom: #0c7489 solid 1.5px;
}
.header__options__user__menu__contenido__cabecera__texto {
  padding-left: 1em;
  font-weight: bold;
  font-size: large;
}
.header__options__user__menu:hover .header__options__user__menu__contenido {
  display: block;
}
.header__options__user__menu__contenido a {
  display: block;
  color: #000000;
  padding: 0.5em;
  text-decoration: none;
}
.header__options__user__menu__contenido a:hover {
  color: #ffffff;
  background-color: #00a4bd;
}
.header__options__user__menu__icono {
  color: #fffcfb;
  font-size: medium;
}

/*---------------------Media------------------------*/
@media (min-width: 600px) {
  .header__picture {
    width: 30%;
  }
  .header__picture__logo {
    width: 40%;
    height: auto;
    padding: 0.3em;
  }
  .header__options__enlace {
    margin-right: 0.5em;
    font-size: large;
  }
  .header__options__enlace--bordeBlancos {
    display: block;
    color: #fffcfb;
    border: solid 1px #fffcfb;
    padding: 0.4em;
    border-radius: 15px;
    font-size: large;
    margin-right: 0.5em;
  }
  .header__options__user {
    gap: 0.5em;
  }
  .header__options__user__img {
    width: 35px;
  }
  .header__options__user__menu {
    margin-right: 9px;
  }
  .header__options__user__menu__contenido__cabecera__texto {
    padding-left: 1em;
    font-weight: bold;
    font-size: large;
  }
  .header__options__user__menu__icono {
    color: #fffcfb;
    font-size: larger;
  }
}
@media (min-width: 900px) {
  .header__picture {
    width: 30%;
  }
  .header__picture__logo {
    width: 20%;
    height: auto;
  }
  .header__options__enlace {
    font-size: x-large;
  }
  .header__options__enlace--bordeBlancos {
    display: block;
    color: #fffcfb;
    border: solid 1px #fffcfb;
    padding: 0.4em;
    border-radius: 15px;
    font-size: x-large;
  }
  .header__options__user {
    gap: 0.6em;
  }
  .header__options__user__img {
    width: 40px;
    height: 40px;
  }
  .header__options__user__menu {
    margin-right: 9px;
  }
  .header__options__user__menu__contenido {
    width: 200px;
  }
  .header__options__user__menu__contenido__cabecera__texto {
    font-size: large;
  }
  .header__options__user__menu__icono {
    font-size: larger;
  }
}

/*# sourceMappingURL=head.css.map */
