@charset "UTF-8";
/*------------Colores primarios----------*/
/*------------Colores Secundarios----------*/
/*------------Letras (Estilo, tamaño, color)----------*/
.conte {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 0;
  align-items: center;
}
.conte__formulario {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 90%;
  padding-top: 1em;
}
.conte__formulario__article {
  min-height: 45%;
  max-height: 45%;
  padding: 1em;
  background-color: #d9d9d9;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7em;
}
.conte__formulario__article__titulo {
  font-size: large;
  text-align: center;
  margin: 0;
}
.conte__formulario__article__datos {
  display: flex;
  flex-direction: column;
}
.conte__formulario__article__datos__input {
  border: none;
  padding: 0.5em;
}
.conte__formulario__article__juntos {
  display: flex;
  gap: 1em;
}
.conte__formulario__article__juntos__datos {
  display: flex;
  flex-direction: column;
}
.conte__formulario__article__juntos__datos__input {
  width: 90%;
  border: none;
  justify-content: space-between;
  padding: 0.5em;
}
.conte__formulario__botones {
  display: flex;
  justify-content: end;
  gap: 1em;
  padding-bottom: 0.5em;
}
.conte__formulario__botones__boton {
  background-color: #0c7489;
  border: none;
  color: #fffcfb;
  border-radius: 13px;
  width: 35%;
  padding: 0.6em;
  font-size: medium;
}
.conte__formulario__botones__boton:hover {
  cursor: pointer;
  background-color: #119da4;
}

@media (min-width: 700px) {
  .conte__formulario {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 80%;
    height: 100%;
  }
  .conte__formulario__article {
    min-height: 95%;
    max-height: 95%;
    padding: 1em;
    gap: 1.5em;
    justify-content: flex-start;
  }
  .conte__formulario__article__titulo {
    padding: 1em 1.8em 1.5em 1.8em;
    font-size: large;
    text-align: center;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .conte__formulario {
    gap: 2em;
  }
  .conte__formulario__article {
    min-height: 95%;
    max-height: 95%;
    padding: 1em;
    gap: 1.5em;
    justify-content: flex-start;
  }
  .conte__formulario__article__titulo {
    padding: 1em 2em 1.5em 2em;
    font-size: x-large;
    text-align: center;
    margin: 0;
  }
  .conte__formulario__article__datos__input {
    padding: 0.8em;
  }
  .conte__formulario__article__juntos__datos__input {
    padding: 0.8em;
  }
}
@media (min-width: 1400px) {
  .conte {
    width: 100%;
  }
  .conte__formulario {
    gap: 2em;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 75%;
    height: 100%;
    gap: 2em;
  }
  .conte__formulario__article {
    min-height: 95%;
    max-height: 95%;
    padding: 1.5em;
    gap: 1.5em;
    justify-content: flex-start;
  }
  .conte__formulario__article__titulo {
    padding: 1em 1.8em 1em 1.8em;
    font-size: x-large;
    text-align: center;
    margin: 0;
  }
  .conte__formulario__article__datos {
    font-size: large;
  }
  .conte__formulario__article__datos__input {
    padding: 0.8em;
    font-size: large;
  }
  .conte__formulario__article__juntos {
    justify-content: space-between;
  }
  .conte__formulario__article__juntos__datos {
    font-size: large;
  }
  .conte__formulario__article__juntos__datos__input {
    padding: 0.8em;
    font-size: large;
  }
  .conte__formulario__botones {
    justify-content: start;
    padding-bottom: 1.5em;
  }
  .conte__formulario__botones__boton {
    border-radius: 20px;
    width: 35%;
    padding: 0.5em;
    font-size: x-large;
  }
}

/*# sourceMappingURL=publicar.css.map */
