/*------------Colores primarios----------*/
$azul-claro: #119da4;
$azul-oscuro: #0c7489;

/*------------Colores Secundarios----------*/
$gris-oscuro: #948b89;
$beige: #d7d0d0;
$beige-claro: #ece3e3;

/*------------Letras (Estilo, tamaño, color)----------*/
$font-family: "Nunito", sans-serif;
$letra-negra: #000000;
$letra-blanca: #fffcfb;

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;

    &__contenedor {
        padding-top: 1em;
        text-align: center;

        &__img {
            height: 35%;
        }

        &__texto {
            font-size: small;
        }
    }
    &__formulario {
        width: 99%;
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: $beige;
        justify-content: space-between;
        border-radius: 20px;
        &__article {
            width: 20%;
            padding: 0.5em;
            line-height: 0.5em;
            flex: 1;
            display: flex;
            flex-direction: column;
            position: relative;
            &:not(:first-child)::before {
                //Separador del buscador
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 50%; // Adjust this value to control the height of the separator line
                border-right: 1px solid $letra-blanca;
            }
            &__label {
                font-size: x-small;
            }
            &__input {
                border: none;
                font-size: xx-small;
                background-color: $beige;
                width: 100%;
                &:hover {
                    background-color: $beige-claro;
                }
            }
            &:hover {
                background-color: $beige-claro;
                border-radius: 25px;
                padding: 0.5em;
            }
        }
        &__boton {
            display: flex;
            align-items: center;
            &--busquedad {
                background-color: $azul-oscuro;
                border: none;
                color: $letra-blanca;
                border-radius: 29px;
                height: 34px;
                width: 34px;
            }
        }
    }

    //Anuncios
    &__section {
        margin-top: 0.6em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 1em;
        &__enlace {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: $beige;
            border: none;
            padding: 0;
            &__header {
                background-color: $azul-oscuro;
                height: 45%;
                width: 100%;
                &__titulo {
                    color: $letra-blanca;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: x-large;
                    margin: 0.2em;
                }
                &__usuario {
                    display: flex;
                    flex-direction: row;
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                    color: $letra-blanca;
                    font-size: large;
                    &__img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        margin-right: 0.5em;
                    }
                }
            }

            &__contenido {
                margin-left: 0.5em;
                margin-right: 0.5em;
                &__article {
                    text-align: left;
                    color: $letra-negra;
                    &__titulo {
                        font-size: medium;
                        margin: 0.5em 0em 0.5em 0;
                        min-width: 16em;
                        max-width: 16em;
                        min-height: 1.2em;
                        max-height: 1.2em;
                    }
                    &__descripcion {
                        font-size: small;
                        min-width: 20em;
                        max-width: 20em;
                        min-height: 2.3em;
                        max-height: 2.3em;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
            &:hover {
                cursor: pointer;
                box-shadow: 0.3em 0.3em 40px $gris-oscuro;
            }
        }
    }

    &__article {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        &__titulo {
            font-size: xx-large;
            margin: 0;
            padding: 0;
        }
        &__boton {
            background: none;
            border: none;
            align-items: center;
            padding: 0;
            display: flex;
            align-items: center;
            font-size: medium;
        }
    }
}

//Carrusel
.wrapper {
    width: 90%;
    position: relative;
}
.wrapper .flecha {
    width: 20px;
    height: 20px;
    background-color: $azul-oscuro;
    color: $letra-blanca;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 25%;
    font-size: 0.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
}

.wrapper .flecha:first-child {
    left: 0px;
}
.wrapper .flecha:last-child {
    right: 0px;
}

.wrapper .carousel {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 5) - 15px);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.carousel .card {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30px;
    height: 30px;
    padding-bottom: 0.6em;
}

.card .img img {
    width: 20px;
    height: 20px;
    background-color: #fffcfb;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    width: 5px;
    height: 5px;
}

.select {
    padding-bottom: 0.6em;
    border-bottom: $azul-claro 0.2em solid;
}
.img:hover {
    border-bottom: $letra-blanca 0.5em solid;
}

.texto {
    font-size: 8px;
}

/*---------------------Media------------------------*/
@media (min-width: 500px) {
    .box {
        align-content: center;
        &__formulario {
            width: 92%;
            display: flex;
            flex-direction: row;
            margin-top: 1em;
            margin-bottom: 1em;
            background-color: $beige;
            justify-content: space-between;
            border-radius: 70px;
            &__article {
                width: 20%;
                height: 6vh;
                padding: 0.4em;
                line-height: 1em;
                flex: 1;
                justify-content: center;
                &__label {
                    font-size: medium;
                    margin-left: 0.2em;
                }
                &__input {
                    font-size: small;
                }
            }
            &__boton {
                &--busquedad {
                    font-size: large;
                    height: 50px;
                    width: 50px;
                }
            }
        }
        //Anuncios
        &__section {
            &__enlace {
                width: 100%;
                &__header {
                    background-color: $azul-oscuro;
                    height: 40%;
                }
            }
        }

        &__article {
            width: 70%;
            &__boton {
                font-size: large;
            }
        }
    }

    .wrapper .carousel {
        grid-auto-columns: calc(100% / 7);
    }
}
@media (min-width: 700px) {
    .box {
        align-content: center;

        &__contenedor {
            padding-top: 2em;
            text-align: center;

            &__img {
                height: 35%;
            }

            &__texto {
                font-size: medium;
            }
        }
        &__formulario {
            width: 75%;
            &__boton {
                &--busquedad {
                    font-size: large;
                    height: 55px;
                    width: 55px;
                }
            }
        }
        //Anuncios
        &__section {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 1em;
            width: 90%;
            &__enlace {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: $beige;
                &__header {
                    background-color: $azul-oscuro;
                    height: 40%;
                }
                &__contenido {
                    &__article {
                        &__titulo {
                            font-size: medium;
                            min-width: 100%;
                            max-width: 100%;
                        }
                        &__descripcion {
                            margin: 0.3em 0em 0.3em 0;
                            font-size: small;
                            min-width: 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }

        &__article {
            width: 90%;
            &__boton {
                font-size: large;
            }
        }
    }

    .card .img img {
        width: 35px;
        height: 35px;
        margin-top: 1em;
    }
    .card {
        padding-bottom: 1.5em;
    }

    .img {
        width: 35px;
        height: 35px;
    }

    .texto {
        font-size: 10px;
    }

    .wrapper .flecha {
        width: 30px;
        height: 30px;
        line-height: 30px;
        top: 20%;
        font-size: 1em;
    }

    .select {
        border: none;
        padding-bottom: 0;
    }

    .select .texto {
        padding-bottom: 0.5em;
        border-bottom: $azul-claro 0.3em solid;
    }
}

@media (min-width: 1024px) {
    .box {
        align-content: center;
        //Anuncios
        &__section {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            gap: 1.5em;
            width: 80%;
            &__enlace {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                background-color: $beige;
                &__header {
                    background-color: $azul-oscuro;
                    height: 110px;
                }
                &__contenido {
                    height: 200px;
                    &__article {
                        &__titulo {
                            min-width: 100%;
                            max-width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                        &__descripcion {
                            margin: 0.3em 0em 0.3em 0;
                            min-width: 100%;
                            max-width: 100%;
                            min-height: 4.5em;
                            max-height: 4.5em;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        &__article {
            width: 80%;
            &__boton {
                font-size: large;
            }
        }
    }

    .wrapper .carousel {
        grid-auto-columns: calc(100% / 10);
    }

    .card .img img {
        width: 35px;
        height: 35px;
    }
    .card {
        height: 80%;
        padding-bottom: 2.5em;
    }

    .img {
        width: 50px;
        height: 50px;
    }

    .texto {
        font-size: 10px;
    }

    .select {
        border: none;
        padding-bottom: 0;
    }

    .select .texto {
        padding-bottom: 0.5em;
        border-bottom: $azul-claro 0.3em solid;
    }
}
