/*------------Colores primarios----------*/
$azul-claro: #119da4;
$azul-oscuro: #0c7489;

/*------------Colores Secundarios----------*/
$gris-oscuro: #948b89;
$gris-claro: #d9d9d9;
$beige: #d7d0d0;
$beige-claro: #ece3e3;

/*------------Letras (Estilo, tamaño, color)----------*/
$font-family: "Nunito", sans-serif;
$letra-negra: #000000;
$letra-blanca: #fffcfb;
$letra-label: #6b6766;

.container {
    flex: 1;
    margin: 1em;
    padding: 0.5em;

    &__box {
        display: flex;
        flex-direction: column;
        background-color: $gris-claro;
        border-radius: 15px;
        &__formulario {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1em;

            &__usuario {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
                &__img {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                }
                &__label {
                    color: $letra-blanca;
                    background-color: $azul-oscuro;
                    width: 6em;
                    padding: 0.5em;
                    border-radius: 15px;
                    text-align: center;
                    &:hover {
                        background-color: $azul-claro;
                        cursor: pointer;
                    }
                    &__input {
                        display: none;
                    }
                }
            }

            &__datos {
                display: flex;
                flex-direction: column;
                gap: 1em;
                padding: 1em;
                background-color: $letra-blanca;
                &__caja {
                    display: flex;
                    flex-direction: column;

                    &__label {
                        color: $letra-label;
                    }

                    &__input {
                        border: none;
                    }
                }
            }

            &__botones {
                display: flex;
                justify-content: end;
                gap: 0.5em;
                &__boton {
                    color: $letra-blanca;
                    background-color: $azul-oscuro;
                    width: 6em;
                    padding: 0.5em;
                    border-radius: 15px;
                    text-align: center;
                    border: none;
                    &:hover {
                        background-color: $azul-claro;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//Media Query
@media (min-width: 700px) {
    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        &__box {
            width: 70%;
            &__formulario {
                padding: 3.5em;
                &__usuario {
                    &__img {
                        height: 140px;
                        width: 140px;
                    }
                    &__label {
                        font-size: medium;
                    }
                }

                &__datos {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    padding: 1.5em;
                    background-color: $letra-blanca;
                }

                &__botones {
                    display: flex;
                    justify-content: end;
                    gap: 0.5em;
                    
                    &__boton {
                        color: $letra-blanca;
                        background-color: $azul-oscuro;
                        width: 6em;
                        padding: 0.5em;
                        border-radius: 15px;
                        text-align: center;
                        border: none;
                        font-size: medium;
                        &:hover {
                            background-color: $azul-claro;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        &__box {
            width: 45%;
            height: 600px;
            &__formulario {
               
                padding: 1em 3.5em 1em 3.5em;
                &__usuario {
                    &__img {
                        height: 140px;
                        width: 140px;
                        
                    }
                    &__label {
                        font-size: medium;
                    }
                }
                align-items: center;
                &__datos {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap:0.8em;
                    padding: 1em;
                    background-color: $letra-blanca;
                }

                &__botones {
                    display: flex;
                    padding-right: 40px;
                    align-self: end;
                    gap: 0.5em;
                    
                }
            }
        }
    }
}
